/* Estilo de fondo */
body {
    background: #000000;
    background: -webkit-linear-gradient(to right, #808080, #000000);
    background: linear-gradient(to right, #808080, #000000);
}

/* Estilo del header */
header {
    margin: 30px 0;
}

/* Contenido principal */
.contenido {
    padding: 20px;
}

.contenido-principal {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 20px;
}


.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fcfcfc;
    border: 1px solid rgba(0, 0, 0, .125);
}

.presupuesto p {
    margin-bottom: 0;
    font-weight: bold;
}

.presupuesto p span {
    font-weight: normal;
}


/* Títulos */
h1.planificador {
    font-family: 'Montserrat', sans-serif;
    color: #ff5202;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem; 
    margin-bottom: 1rem;
}

h1.planificador span {
    color: #f5a119;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #e94a00;
    font-size: 24px;
    margin-bottom: 30px;
}

/* Boton para añadir gasto */
#btn-add-expense {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2.2rem;
    font-weight: bold;
    background-color: #e94a00;
    color: white;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 6px 12px white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    z-index: 1050;
}

#btn-add-expense:hover {
    background-color: #ff3502;
}

/* Overlay y contenedor de formulario */
#form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1040;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#form-overlay.active {
    visibility: visible;
    opacity: 1;
}

#form-container {
    background: white;
    border-radius: 0.5rem;
    padding: 2rem 2.5rem;
    max-width: 400px;
    width: 90vw;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    position: relative;
}

#btn-cancel-form {
    border-radius: 0.5rem;
}

#form-container h2 {
    color: #e94a00;
    font-weight: 800;
    margin-bottom: 1.5rem;
    text-align: center;
}

#form-container .form-control {
    border-radius: 0.375rem;
    font-size: 1.1rem;
    padding: 0.75rem 1rem;
}

#form-btns {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

#form-btns button {
    flex: 1;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    margin: 0 0.25rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    border-radius: 0.75rem;
}

/* Botones primarios */
.btn-shadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-gradient {
    background: linear-gradient(135deg, #F2AB37, #d3860b);
    color: white;
}

.btn-gradient-blue {
    background: linear-gradient(135deg, #e94a00,#ce4303);
    color: white;
}

/* Botones principales */
#form-btns button:first-child {
    @extend .btn-gradient;
}

#form-btns button:last-child {
    @extend .btn-gradient-red;
}

/* Botón de logout */
#btn-logout {
    background: linear-gradient(135deg, #e94a00, #ce4303);
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#btn-logout:hover {
    background: linear-gradient(135deg, #fc580c, #ce4303);
    transform: scale(1.05);
    color: black; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* botones presupuesto */
#btn-set-presupuesto, #btn-edit-presupuesto {
    width: 50px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#btn-set-presupuesto {
    @extend .btn-gradient-blue;
}

#btn-edit-presupuesto {
    @extend .btn-gradient;
}

#btn-set-presupuesto:hover, #btn-edit-presupuesto:hover {
    transform: scale(1.04);
}

/* Presupuesto */
#input-presupuesto {
    height: 40px;
    padding: 6px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

#input-presupuesto:focus {
    border-color: #e94a00;
    outline: none;
}

/* alerta */
.alert {
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.alert-primary {
    background: linear-gradient(135deg, #2fb44c, #25a142);
    color: white;
    text-align: center;
}

.restante.alert-success {
    background: linear-gradient(135deg, #ff8929,  #f0990c);
    color: white;
    text-align: center;
}
.restante.alert-danger{
    background: linear-gradient(135deg, #d34d4d, #dd3737);
        /* background: linear-gradient(135deg, #2caa47, #25a142);
 */
    color: white;
    text-align: center;

}
.alert p {
    margin: 0;
    font-size: 18px;
}

/* Contenedor de botones */
.container-botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.container-botones button {
    flex: 1;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

/* Estilo de los elementos de gasto */
.gasto-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.gasto-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.gasto-nombre {
    font-weight: bold;
    color: #333;
}

.gasto-categoria {
    font-style: italic;
    color: #666;
}

.btn-container {
    display: flex;
    gap: 8px;
}

.btn-filtro{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(135deg, #05d16b, #09b97f);
    color: white;

}
.btn-establecer{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(135deg, #1b50c2, #0e7eda);
    color: white;
}
.btn-establecer:hover{
     color: black; /* Cambia el color del texto a negro */

}

.btn-danger, .btn-info {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.btn-danger {
    background: linear-gradient(135deg, #dc3545, #b02a37);
    color: white;
}

.btn-danger:hover {
    background: linear-gradient(135deg, #b02a37, #92262b);
    color: black; /* Cambia el color del texto a negro */
    transform: scale(1.05);
}
.btn-info {
    background: linear-gradient(135deg, #17a2b8, #138496);
    color: white;
}

.btn-info:hover {
    background: linear-gradient(135deg, #138496, #10707f);
    transform: scale(1.05);
}

#btn-submit {
  background: linear-gradient(135deg, #28a745, #218838); 
  color: white;
  font-weight: bold;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px #e94a00; 
}

#btn-submit:hover {
  background: linear-gradient(135deg, #218838, #1a6626);
  transform: scale(1.05);
}

#btn-cancel-form {
  background: linear-gradient(135deg, #dc3545, #b02a37); 
  color: white;
  font-weight: bold;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(176, 42, 55, 0.3);
}

#btn-cancel-form:hover {
  background: linear-gradient(135deg, #b02a37, #92262b);
  transform: scale(1.05);
}

.swal2-confirm {
  background: linear-gradient(135deg, #28a745, #218838); 
  color: white;
  font-weight: bold;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(40, 167, 69, 0.3);
}

.swal2-confirm:hover {
  background: linear-gradient(135deg, #218838, #1a6626);
  transform: scale(1.05);
}

.swal2-cancel {
  background: linear-gradient(135deg, #dc3545, #b02a37); 
  color: white;
  font-weight: bold;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(176, 42, 55, 0.3);
}

.swal2-cancel:hover {
  background: linear-gradient(135deg, #b02a37, #92262b);
  transform: scale(1.05);
}

#gastos {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  width: 100%; 
}

.list-group {
  width: 100%;
  max-width: 600px; 
}


#carouselFondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carousel-item img {
    transition: none !important;
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%);
    object-position: center center;
}
  .contenido-secundario {
    text-align: right;
}